*{
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: rgb(130, 129, 129);
    height: 50px;
}

#titulo{
    text-align: center;
}

#tarea{
    text-align: center;
    margin-left: 365px;
    margin-top: 10px;
    height: 40px; 

}


#agregando{
    margin-left: 365px;
    background-color: #00b9ec;
    border-radius: 5px;
    height: 40px;
    width: 166px;
    margin-top: 10px;
    border:  #00b9ec;
}

h4{
    margin-left: 930px;
    margin-top: -50px;
}

#container{
    max-height: 100vh;
    border: 2px solid rgb(130, 129, 129);
    height: 500px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: auto;
}

#list{
    display: flex;
    margin-top: 17px;
    margin-left: 50px;
}


#trash{
    display: flex;
    position: sticky;
    height: 32px;
    margin-top: 9px;
}

#cuadros{
    margin-top: 13px;
    border: 2px solid rgb(130, 129, 129);
    height: 50px;
    width: 750px;
    margin-left: 20px; 
    border-radius: 5px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#circulo{
    text-align: center;
    height:100px;
    width:100px;
    border: 2px solid rgb(130, 129, 129);
    border-radius:50px;
    margin-left: 1050px; 
    margin-top: -60px;
}

#contador{
    margin-top: 40px;
}

#check{
    margin-top: 2px;
    margin-left: 20px;
}

#conteiner {
    text-align: center;
}

#nothing{
    text-align: center;
    margin-top: 210px;
}