*{
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: rgb(130, 129, 129);
    height: 50px;
}

#titulo{
    text-align: center;
}

#tarea{
    margin-left: 150px;
    margin-top: 10px;
}

#tarea{
    height: 40px;
}

#agregando{
    margin-left: 150px;
    background-color: #00b9ec;
    border-radius: 5px;
    height: 40px;
    width: 166px;
    margin-top: 10px;
    border:  #00b9ec;
}

h4{
    margin-left: 760px;
    margin-top: -40px;
}

#container{
    text-align: center;
    max-height: 100vh;
    border: 2px solid rgb(130, 129, 129);
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    overflow: auto;
}

p{
    margin-top: -20px;
    margin-left: 30px; 
}

#trash{
    margin-top: -300px;
    margin-left: 800px; 
    
}

#cuadros{
    margin-top: 13px;
    border: 2px solid rgb(130, 129, 129);
    height: 50px;
    width: 950px;
    margin-left: 20px; 
    border-radius: 5px;
}

#circulo{
    height:100px;
    width:100px;
    border: 2px solid rgb(130, 129, 129);
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    margin-left: 900px; 
    margin-top: -50px;
}

#check{
    margin-left: -850px;
    margin-top: 20px;
}